// Color variables
// Primary
$p-lime: #d7da2f;
$p-red: #d73328;

// Neutral
$n-white: #ffffff;
$n-slate-100: #e3f3fd;
$n-slate-300: #9abed5;
$n-slate-500: #6b94a8;
$n-slate-700: #4e6e7e;
$n-slate-900: #122f3f;

// Font variables
$primary-font: "Plus Jakarta Sans", serif;
$medium-font-weight: 500;
$bold-font-weight: 700;
